#root {
  max-width: 1280px;
  margin: 0 0;
  text-align: center;
  background-color: #050510;
}

/* Animation */
.anim-typewriter-mobile{
  animation: typewriter 3s steps(40) 1s 1 normal both,
             blinkTextCursor 600ms steps(40) infinite normal;
}

/* Animation */
.anim-typewriter-desktop{
  animation: typewriter 6s steps(80) 1s 1 normal both,
             blinkTextCursor 600ms steps(80) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: calc(100vw - 10vw);}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
